<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>       
        <add assembly="Syncfusion.Compression.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Linq.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		<add assembly="Syncfusion.DocIO.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		<add assembly="Syncfusion.Pdf.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Olap,Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		<add assembly="Syncfusion.PivotAnalysis.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
        <add assembly="Syncfusion.Olap.Base, Version=13.2450.0.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="Adventure Works" connectionString="Data Source=http://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=Adventure Works DW 2008 SE;"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sample.OlapClientServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.OlapChartServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.OlapGaugeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.OLAPServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.KPIServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.DrillPositionServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="sample.wcf.PagingServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="sample.RelationalServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="" >
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="sample.OlapClientService">
        <endpoint address="" behaviorConfiguration="sample.OlapClientServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOlapClientService" />
      </service>
      <service name="sample.OlapChartService">
        <endpoint address="" behaviorConfiguration="sample.OlapChartServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOlapChartService" />
      </service>
      <service name="sample.OlapGaugeService">
        <endpoint address="" behaviorConfiguration="sample.OlapGaugeServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOlapGaugeService" />
      </service>
      <service name="sample.OLAPService">
        <endpoint address="" behaviorConfiguration="sample.OLAPServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOLAPService" />
      </service>
      <service name="sample.KPIService">
        <endpoint address="" behaviorConfiguration="sample.KPIServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOLAPService" />
      </service>
      <service name="sample.DrillPositionService">
        <endpoint address="" behaviorConfiguration="sample.DrillPositionServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOLAPService" />
      </service>
      <service name="sample.wcf.PagingService">
        <endpoint address="" behaviorConfiguration="sample.wcf.PagingServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IOLAPService" />
      </service>
      <service name="sample.RelationalService">
        <endpoint address="" behaviorConfiguration="sample.RelationalServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="sample.IRelationalService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
